.input-group-project{
    margin-bottom: 1em;
}

form{
    height: 100%;
    align-content: center;
}

ngx-dropzone {
    justify-content: center;
  }

  app-button{
    margin-top: 10%;
    margin-bottom: 10%;
}

textarea{
    height:200px; 
    min-height:100px;  
    max-height:100px;
}