.input-group-project{
    margin-bottom: 1em;
}

form{
    height: 100%;
    align-content: center;
}

ngx-dropzone {
    justify-content: center;
  }

  app-button{
    margin-top: 10%;
    margin-bottom: 10%;
}

textarea{
    height:200px; 
    min-height:100px;  
    max-height:100px;
}

a{
    cursor: pointer;
    position: absolute; 
    top: 40px; 
    left: 40px;
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
    transition: font-size 0.3s ease;
    line-height: 1;
    font-size: 1.3em;
}

a:hover{
    color: black;
}
