.container{
    height: 100%;
}

.container-center{
    height: 100%;
    display: grid;
    justify-items: center;
}

.orientador {
    font-size: 0.9rem;
    opacity: 0.5;
}

.separador {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tabela-scroll {
    max-height: 200px;
    overflow-y: auto;
}

.icon-reload {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.icon-reload:hover{
    animation-name: spin;
    animation-duration: 500ms;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
ngx-dropzone {
    justify-content: center;
  }

