<div *ngIf="hasProject" class="container">
    <div class="row">
      <div class="col-12">
        <h1 [style]="'text-align:center'">Titulo projeto</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>

<div *ngIf="!hasProject" class="container-center">
  <div [style]="'margin-bottom:0;align-self:self-end'">
    <h1 [style]="'opacity:0.4;user-select:none'">Você ainda não possui nenhum trabalho cadastrado :(</h1>
  </div>
  <div>
    <app-button (clickButton)="routeProjectCreate()" textButton="Iniciar agora"></app-button>
  </div>
</div>