<form>
    <div class="container">
        <div class="row">
            <div class="col-5 mx-auto">
                <div class="form-group input-group-project">
                    <label for="exampleInputEmail1">Título do projeto</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <select class="form-select input-group-project" aria-label="Default select example">
                    <option selected>Selecione um orientador</option>
                    <option *ngFor="let option of options" [value]="option.id">{{ option.text }}</option>
                </select>
                <select class="form-select input-group-project" aria-label="Default select example">
                    <option selected>Selecione um co-orientador</option>
                    <option *ngFor="let option of options" [value]="option.id">{{ option.text }}</option>
                </select>
                <ngx-dropzone (change)="onFileDrop($event)" [multiple]="true" [maxFileSize]="1000000" [accept]="'image/*'">
                    <ngx-dropzone-label>Pré-Projeto de pesquisa</ngx-dropzone-label>
                </ngx-dropzone>
            </div>
        </div>
    </div>
</form>