<main>
    <div class="input-login">
        <app-input [id]="'Email'" placeHolder="Email ou RA"></app-input>
    </div>
    <div class="input-login">
        <app-input [type]="'password'" [id]="'Password'" placeHolder="Senha"></app-input>
    </div>
    <app-button (clickButton)="Login()" textButton="Acessar"></app-button>
    <div>
        <a [routerLink]="['/login/sign-up']">Cadastre-se</a>
    </div>
    <div>
        <a [routerLink]="['/login/recover']">Recuperar Senha</a>
    </div>
</main>
