<nav>
    <ul class="menu-list">
        <li matRipple>
            <a [routerLink]="[projectRoute]">
                <mat-card>
                    <mat-card-content class="content">
                        <mat-icon class="icon-container" aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon>
                        Projeto
                    </mat-card-content>
                </mat-card>
            </a>
        </li>
        <li matRipple>
            <a [routerLink]="'/tcc/advisor'">
                <mat-card>
                    <mat-card-content class="content">
                        <mat-icon class="icon-container" aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
                        Orientador
                    </mat-card-content>
                </mat-card>
            </a>
        </li>
        <li matRipple>
            <a [routerLink]="'/tcc/user'">
                <mat-card>
                    <mat-card-content class="content">
                        <mat-icon class="icon-container" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
                        Usuário
                    </mat-card-content>
                </mat-card>
            </a>
        </li>
        
    </ul>
</nav>
