.principal-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-drawer {
    width: 15%;
    background-color: #555454;
  }

  .work-content{
    backdrop-filter: blur(15px);
    background-color: #FAF9F6;
    max-height: 823.040px;
  }

.container-content{
    height: 95%;
    width: 95%;
    background: none;
    border-radius: 0.5%;
    box-shadow: 1px 1px 10px 0.4px rgba(104, 9, 9, 0.548);
}