#logOut{
    font-size: 35px;
    position:absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

#logOut:hover{
    color: red;
}

.user-container{
    height: 100%;
}

.info-student{
    display: grid;
    grid-template-columns:  250px auto;
    height: 250px;
}

.descripton-student{
    align-self: center;
}

.user-portrait{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.descripton-student p{
    margin: 0;
    font-style: italic;
    color: gray;
}


#user-imagem{
    object-fit:cover;
}