<div class="user-container">
    <section class="info-student">
        <div class="image-content">
            <div class="user-portrait">
                <img id="user-image" src="https://png.pngtree.com/background/20230612/original/pngtree-tree-is-rooted-on-top-of-the-land-picture-image_3180328.jpg" width="95%" height="95%">
            </div>
        </div>
        <div class="descripton-student">
            <p>Gabriel Gomes Molina Rodrigues</p>
            <p>RA: 123456789</p>
        </div>
    </section>
</div>
