<div class="container-login">
    <div class="box-login">
        <main class="principal-content">
            <div class="container">
                <div id="img-login">
                    <img src="https://cdn.icon-icons.com/icons2/1465/PNG/512/130manstudent2_100617.png">
                </div>
                <router-outlet></router-outlet>
                <div>
                    <a [routerLink]="['/login/sign-in']">Efetuar login</a>
                </div>
                <div>
                    <a [routerLink]="['/login/sign-up']">Recuperar Senha</a>
                </div>
                <div>
                    <a [routerLink]="['/login/register']">Registrar</a>
                </div>
            </div>
        </main>
    </div>
</div>