
html, body { height: 100%; width: 100%; background: linear-gradient(to bottom right, white, rgb(226, 196, 196));
    background-attachment: fixed; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a507079d;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a50707;
    border-radius: 30px;
  }
