main{
    display: grid;
    place-items: center;
    width: 100%;
}

.input-login{
    width: 200px;
}

app-button{
    margin-top: 10%;
    margin-bottom: 10%;
}

a{
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
    transition: font-size 0.3s ease;
    line-height: 1;
}

a:hover{
    color: black;
    font-size: 17px;
}
