<span id="logOut">
    <a (click)="logOut()"><fa-icon [icon]="faSignOut"></fa-icon></a>
</span>

<div class="content">
    <div class="welcome-message">
        Bem-vindo, {{ userName }}!
    </div>
    <div class="user-info">
        <p><strong>RA:</strong> {{ userRA }}</p>
        <p><strong>Email:</strong> {{ userEmail }}</p>
    </div>
    <div class="site-description">
        <p><b>Sobre o Núcleo de ICT</b></p>

        <p>O Núcleo de Iniciação Científica e Tecnológica (ICT) é um órgão institucional da Fatec Garça, subordinado à
        Direção da Instituição.</p>

        <p>A função do Núcleo de ICT é direcionar, incentivar e coordenar a comunidade acadêmica da Fatec Garça na
        realização de atividades relacionadas à pesquisa, à extensão e à inovação.</p>

        <p>Sobre o Conceito de Iniciação Científica-tecnológica</p>

        <p>A Iniciação Científica e Tecnológica é uma modalidade de pesquisa desenvolvida por alunos dos cursos de
        graduação, sob a orientação de um professor-pesquisador.</p>

        <p>O termo iniciação reflete a primeira experiência dos estudantes com atividades relacionadas à pesquisa
        acadêmica.</p>

        No desenvolvimento do projeto o estudante-pesquisador terá a capacidade de:
        <ul>
            <li>escrever na linguagem científica;</li>
            <li>sistematizar as ideias e os referenciais teórico-metodológicos;</li>
            <li>sintetizar as observações ou experiências;</li>
            <li>elaborar relatórios e/ou artigos científicos.</li>
        </ul><br/>

        <p><b>Bolsas Para Projetos de Iniciação Científica-tecnológica</b></p>

        <p>Atualmente a Fatec não disponibiliza bolsas-auxílio. No entanto, os docentes podem solicitá-las junto às
        agências de fomento.</p>

        As principais agências financiadoras de projetos de Iniciação Científica e Tecnológica, no Brasil, são:
        <ol>
            <li><b>Conselho Nacional de Desenvolvimento Científico e Tecnológico – CNPq:</b> agência de fomento federal
                que
                disponibiliza o Programa Institucional de Bolsas de Iniciação Científica: o Pibic/Pibit.</li>
            <li><b>Fundação de Amparo à Pesquisa do Estado de São Paulo – FAPESP:</b> agência de fomento à pesquisa do
                Estado de
                São Paulo.</li>
        </ol>
        <p><b>Orientações para participar de um projeto de Iniciação Científica e Tecnológica</b></p>

        <p>Para desenvolver um projeto de Iniciação Científica e Tecnológica é imprescindível ter um professor
        orientador.</p>

        <p>O projeto deverá estar de acordo com o modelo especificado na Seção Orientações e Normas.
        </p>
    </div>
</div>