<span id="logOut">
    <a (click)="logOut()"><fa-icon [icon]="faSignOut"></fa-icon></a>
</span>

<div class="content">
    <div class="welcome-message">
        Bem-vindo, {{ userName }}!
    </div>
    <div class="user-info">
        <p><strong>RA:</strong> {{ userRA }}</p>
        <p><strong>Email:</strong> {{ userEmail }}</p>
    </div>
    <div class="site-description">
        <p>
            Este é o seu portal personalizado onde você pode acessar todas as informações relevantes sobre seus projetos
            e documentos.
            Navegue pelas diversas seções para encontrar materiais importantes, acompanhar seu progresso e muito mais.
            Estamos aqui para ajudar você
            a alcançar seus objetivos de forma eficiente e organizada.
        </p>
    </div>
</div>